
/* ===> Global <=== */

body {
    background-color: #D0C9B9;
    font-family: "Garamond", "Helvetica", "Book Antiqua";
    margin: 0;
}

.upper-case {
    text-transform: uppercase;
}

.zm-hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 5px;
    margin-bottom: 5px;
}

.section-title {
    text-transform: uppercase;
    font-size: 2vmax;
    z-index:9999;
    background-color:#D0C9B9;
    position:absolute;
    top: -1.5vmax;
    left:15%;
    right:0;
    bottom:0;
    height: 2.2vmax;

}

.inner {
    border: double #953b39 6px;
    border-radius: 10px;
    margin-top: 2.0vmax;
    padding: 2.5vh 0 2.5vh 2.5vh;
    z-index: 10;
    font-size: 1.5vw;
    position: relative;
    top: 0;

}



#row-2 h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    bottom: 25px;
}

#row-2 {
    margin-bottom: 55px;
}

/* ===> Header <=== */

#row-1 h1 {
    font-size: 3.8vw;
}


/* ===> Projects <=== */

#projects-inner .section-title {
    width: 11vmax;
}

.project-category {
    font-weight: bold;
}

.project-name {
    text-decoration: underline;
}

/* ===> Name & Intro <=== */


#name-inner p {
    width: 9vmax;
}


#intro {
    padding-left: 0;
}

#intro td {
    height: 40px;
}


/* ===> Contact <=== */

#contact-inner p {
    width: 10.5vmax;
}


#contact-list {
    list-style: none;
}

/* ===> Profile <=== */

#profile-inner p {
    width: 25vmax;
}


/* ===> Skill Set <=== */

#skill-inner p {
    width: 11vmax;
}

/* ===> Education <=== */

#education-inner .section-title {
    width: 13.8vmax;
}






/* ===> For Printing <=== */

@media print {

    .section-title {
        background-color: white !important;
    }

    a[href]:after {
        content: none !important;
    }

    .pagebreak { page-break-before: always; }

    #intro td {
        height: 20px;
    }

    .real-content {
        font-size: 1.8vw;
    }

    .project-category {
        font-size: medium;
    }

}

@page
{
    size: auto;   /* auto is the initial value */

    /* this affects the margin in the printer settings */
    margin: 5mm 5mm 5mm 5mm;
}


